DJANGO_DEBUG=1
DJANGO_SECRET_KEY=replace-with-a-long-random-secret-key
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0,45.132.176.48
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000,http://45.132.176.48:8001